/* Navbar */
.nvbg {
    background-color: #E99950;
}

    .navbar-nav>li {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* Hero Image */
    /* Title */
    /* Menu */
    /* Gallery */
    /* Where to Find Us */
    /* About */
    /* Footer */
    
    /* aishas css */
   h1 {
    color: aliceblue;
justify-content: center;
padding-top: 1rem;
   }
.foods{
    color: rgb(253, 183, 21);
    padding-top: 1rem;
   }
   body{
    background-color: black;
}
.Image1{
    width: 294px;
    height: 214px;
    object-fit: cover;
    border-radius: 1rem;
 
}
.space{
    padding-top: 3rem;
}


.line {
    border: 10px solid rgb(255, 218, 55);
    border-radius: 5px;
  }
  .address{
    color: aliceblue;
    margin-left: 1rem;
 }
 .number{
  justify-content: center;
 }

.Image2{
    
   margin-left: 2rem;
    object-fit: cover;
    width: 80%;
    height: auto;
}
.Hours{
   
    color: aliceblue;
  

}
.BusinessHours{
    color: #ff993a;
    margin-top: 3rem;
}
.Closed{
    color: red;
}
.rounded{
   
     width: 60%;
        height: 100px;
        object-fit: cover;
        border-radius: 1rem;
   justify-self: center;
}


