/* Navbar */
.nvbg {
    background-color: #E99950;
}

    .navbar-nav>li {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* Hero Image */
.hero{
    padding: 0;
    position: relative;
    margin-bottom: 100px;
}

body {
    background-color: black;
}

.taco {
    float: right;
    height: auto;
    width: 100%;

}

.titleTxt {
    position: absolute;
    bottom: 5px;
    left: 50px;
    color: hwb(0 100% 0% / 0.9);
    font-size: 8vw;
    font-weight: 900;
}

.titleTxt::before {
    content: '';
    background: #E99950;
    display: block;
    width: 150px;
    height: 12px;
    border-radius: 8px;
}
    /* Title */
    /* Menu */
    /* Gallery */
    /* Where to Find Us */
    /* About */
    /* Footer */